.react-grid-placeholder {
    background: rgba(128, 128, 128, 0.2) !important;
    border-radius: 30px !important;
    opacity: 0.5 !important;
}

.react-grid-item.cssTransforms {
    transition: transform 500ms cubic-bezier(0.2, 0.8, 0.2, 1);
}